doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;')
    meta(content='yes', name='DongHu-verification-web-mobile')
    title 东湖酒店预订
    link(rel='stylesheet', type='text/css', href='css/global.css')
    // <link rel="stylesheet" href="css/smoothness/jquery.ui.css" type="text/css" />
    link(rel='stylesheet', type='text/css', href='css/css.css')
    link(rel='stylesheet', type='text/css', href='css/count_style.css')
  style.
    table,
    th,
    td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
    }
    #tr1 {
    background-color: #87CEFA;
    font-size: 16px;
    }
    #tt {
    background-color: #87CEFA;
    color: #000;
    font-weight: 900;
    /* font-size: 10px; */
    }
    #ns {
    background-color: #87CEFA;
    color: #000;
    font-weight: 900;
    }
    #bh {
    background-color: #87CEFA;
    color: #000;
    font-weight: 900;
    }
    #ttb {
    background-color: #DCDCDC;
    color: #000;
    font-weight: 900;
    }
    #ttd {
    background-color: #DCDCDC;
    color: #000;
    font-weight: 900;
    }
    #nsb {
    background-color: #DCDCDC;
    color: #000;
    font-weight: 900;
    }
    #nsd {
    background-color: #DCDCDC;
    color: #000;
    font-weight: 900;
    }
    #bhb {
    background-color: #DCDCDC;
    color: #000;
    font-weight: 900;
    }
  body.ticketBody
    // 中间
    .webIndex
      .stay-list.clearFloat
        .stay-list-left
          // <h3 class="search-head">东湖酒店预订(CCC2018)</h3>
          img(height='300px', width='534px', src='images/2D0r0r000000h08392FC5.jpg')
          form(method='get', target='hideIframe')
            .sea-div
              label.info_input 姓名：
              -var user_name //姓名jade变量
              input#name.hotel-name(type='text', placeholder='请输入姓名(必填)', required='required' value='#{user_name}')
            .sea-div
              label.info_input 手机号：
              -var user_tel //手机号jade变量
              input#phonenum.hotel-name(type='tel', placeholder='请输入手机号(必填)', required='required' value='#{uesr_tel}')
            .sea-div
              label.info_input 邮箱：
              -var user_email //手机号姓名jade变量
              input#email.hotel-name(type='email', placeholder='请输入邮箱(必填)', required='required' value='#{uesr_email}')
            // <h3 class="search-title">住宿预订</h3>
            .sea-div
              label.search-lab 入住日期：
              input#startDate.date_check(type='date', value='2018-07-23', min='2018-07-23', max='2018-07-28')
              label#date_tip.date_check
            .sea-div
              label.search-lab 离店日期：
              input#endDate.date_check(type='date', value='2018-07-24', min='2018-07-23', max='2018-07-28')
            // <input  type="button"  class="search-but" value="Show days" onclick="getdate()">
            // <p id="showdate"></p>
            p.room_info
              label#room_info.check_tip(style='font-size: 20px; font-weight: 900') 东湖宾馆房间信息
            .stay-list-left
              table.table-head(frame='border', cellpadding='15', cellspacing='0', align='center', rules='all', width='auto', height='auto', white-space='nowrap')
                tr#tr1(align='center')
                  th 区域
                  th 房型
                  th 价格 
                  // <th>剩余房数</th>
                  th
                    | 请输入预订房数
                    br
                    font(size='2', color='#ff5400') (预订金每天每间100元)
                  th 需付预定金
                  // <th>是否预订</th>
                tr(align='center')
                  td#tt(rowspan='2') 听涛2号
                  td#ttb 标间
                  td#ttb 400元
                  // <td>0</td>
                  td#ttb
                    ul.btn-numbox
                      // <li><span class="number">数量</span></li>
                      li
                        ul.count
                          li
                            span#num-jian_TTB.num-jian_TTB(style='background-color: #1E90FF;') -
                          li
                            input#input-num_TTB.input-num_TTB(type='text', value='0')
                          li
                            span#num-jia_TTB.num-jia_TTB(style='background-color: #1E90FF;') +
                      li
                      -var j_kucun_TTB //听涛标间剩余房数
                        span#kucun_TTB.kucun_TTB(value='#{j_kucun_TTB}') (剩余：#{j_kucun_TTB})
                  td#deposit(rowspan='6', style='color:#ff5400;font-size:25px')
                    //
                      <br/>
                      <span id="deposit_tip"></span>
                  // <td id="money" rowspan="6"><input type="checkbox"></td>
                tr(align='center')
                  td#ttd 单间
                  td#ttd 400元
                  // <td>0</td>
                  td#ttd
                    ul.btn-numbox
                      // <li><span class="number">数量</span></li>
                      li
                        ul.count
                          li
                            span#num-jian_TTD.num-jian_TTD(style='background-color: #1E90FF;') -
                          li
                            input#input-num_TTD.input-num_TTD(type='text', value='0')
                          li
                            span#num-jia_TTD.num-jia_TTD(style='background-color: #1E90FF;') +
                      li
                        -var j_kucun_TTD //听涛单间剩余房数
                        span#kucun_TTD.kucun_TTD(value='#{j_kucun_TTD}') (剩余：#{j_kucun_TTD})
                tr(align='center')
                  td#ns(rowspan='2') 南山乙所
                  td#nsb 标间
                  td#nsb 400元
                  // <td>0</td>
                  td#nsb
                    ul.btn-numbox
                      // <li><span class="number">数量</span></li>
                      li
                        ul.count
                          li
                            span#num-jian_NSB.num-jian_NSB(style='background-color: #1E90FF;') -
                          li
                            input#input-num_NSB.input-num_NSB(type='text', value='0')
                          li
                            span#num-jia_NSB.num-jia_NSB(style='background-color: #1E90FF;') +
                      li
                        -var j_kucun_NSB //南山标间剩余房数
                        span#kucun_NSB.kucun_NSB(value='#{j_kucun_NSB}') (剩余：#{j_kucun_NSB})
                tr(align='center')
                  td#nsd 单间
                  td#nsd 400元
                  // <td>0</td>
                  td#nsd
                    ul.btn-numbox
                      // <li><span class="number">数量</span></li>
                      li
                        ul.count
                          li
                            span#num-jian_NSD.num-jian_NSD(style='background-color: #1E90FF;') -
                          li
                            input#input-num_NSD.input-num_NSD(type='text', value='0')
                          li
                            span#num-jia_NSD.num-jia_NSD(style='background-color: #1E90FF;') +
                      li
                        -var j_kucun_NSD //南山单间剩余房数
                        span#kucun_NSD.kucun_NSD(value='#{j_kucun_NSD}') (剩余：#{j_kucun_NSD})
                tr(align='center')
                  td#bh(rowspan='2') 百花2号
                  td#bhb 标间
                  td#bhb 400元
                  // <td>0</td>
                  td#bhb
                    ul.btn-numbox
                      // <li><span class="number">数量</span></li>
                      li
                        ul.count
                          li
                            span#num-jian_BHB.num-jian_BHB(style='background-color: #1E90FF;') -
                          li 
                            input#input-num_BHB.input-num_BHB(type='text', value='0')
                          li
                            span#num-jia_BHB.num-jia_BHB(style='background-color: #1E90FF;') +
                      li
                        -var j_kucun_BHB //百花标间剩余房数
                        span#kucun_BHB.kucun_BHB(value='#{j_kucun_BHB}') (剩余：#{j_kucun_BHB})
            // <p id="check_tip"></p>
            p.sea-div
              label#check_tip.check_tip(style='color:#ff5400;font-size: 15px')
            //
              <p id="check_name"></p>
              <p id="check_phone"></p>
              <p id="check_email"></p>
            input.search-but(type='submit', value='预  订', onclick='check()')
          .footer
            br
            p(style='color:#A9A9A9;') 东湖宾馆酒店预订 © 版权所有 CCC2018
            br
          iframe(name='hideIframe', hidden='')
  // <script type="text/javascript" src="js/jquery.js"></script>
  // <script type="text/javascript" src="js/jquery.ui.js"></script>
  // <script type="text/javascript" src="js/moment.min.js"></script>
  // <script type="text/javascript" src="js/hotel/hotel.search.js"></script>
  // <script type="text/javascript" src="js/stay.js"></script>
  script.
    /*房间数及按钮值变量*/
    var num_jia_TTB = document.getElementById("num-jia_TTB");
    var num_jian_TTB = document.getElementById("num-jian_TTB");
    var input_num_TTB = document.getElementById("input-num_TTB");
    var num_jia_TTD = document.getElementById("num-jia_TTD");
    var num_jian_TTD = document.getElementById("num-jian_TTD");
    var input_num_TTD = document.getElementById("input-num_TTD");
    var kucun_TTD = document.getElementById("kucun_TTD");
    var num_jia_NSB = document.getElementById("num-jia_NSB");
    var num_jian_NSB = document.getElementById("num-jian_NSB");
    var input_num_NSB = document.getElementById("input-num_NSB");
    var num_jia_NSD = document.getElementById("num-jia_NSD");
    var num_jian_NSD = document.getElementById("num-jian_NSD");
    var input_num_NSD = document.getElementById("input-num_NSD");
    var num_jia_BHB = document.getElementById("num-jia_BHB");
    var num_jian_BHB = document.getElementById("num-jian_BHB");
    var input_num_BHB = document.getElementById("input-num_BHB");
    /*获取剩余房数*/
    var kucun_TTB = document.getElementById("kucun_TTB");
    var kucun_TTD = document.getElementById("kucun_TTD");
    var kucun_NSB = document.getElementById("kucun_NSB");
    var kucun_NSD = document.getElementById("kucun_NSD");
    var kucun_BHB = document.getElementById("kucun_BHB");
    // var a = document.getElementById("startDate").value;
    // var startDate = document.getElementById("startDate");
    // var endDate = document.getElementById("endDate");
    // var sArr=startDate.value.split("-");
    // var eArr=endDate.value.split("-");
    // var sDate=new Date(sArr[0],sArr[1],sArr[2]);
    // var eDate=new Date(eArr[0],eArr[1],eArr[2]);
    // var days=(eDate-sDate)/(24*60*60*1000);
    // alert(days);
    // $(document).ready(function(){
    //             var status = setTimeout('getdate()',10);
    //         });
    var startDate;//入住日期
    var endDate;    //离店日期
    var sArr;
    var eArr;
    var sDate;
    var eDate;
    var days;  //预订天数
    var deposit; //预订金金额
    var rNum;    //预订房数
    /*预订天数、预订金及剩余房数计算*/
    setTimeout('getdate()', 10);
    function getdate() {
    startDate = document.getElementById("startDate");//入住日期
    endDate = document.getElementById("endDate");    //离店日期
    sArr = startDate.value.split("-");
    eArr = endDate.value.split("-");
    sDate = new Date(sArr[0], sArr[1], sArr[2]);
    eDate = new Date(eArr[0], eArr[1], eArr[2]);
    days = (eDate - sDate) / (24 * 60 * 60 * 1000);  //预订天数
    rNum = parseInt(input_num_TTB.value) + parseInt(input_num_TTD.value) + parseInt(input_num_NSB.value) + parseInt(input_num_NSD.value) + parseInt(input_num_BHB.value);
    // document.getElementById("showdate").innerHTML = days;
    if (days > 0) {
    deposit = 100 * parseInt(days) * rNum;
    // document.getElementById("deposit").innerHTML = deposit;
    document.getElementById("date_tip").innerHTML = "";
    }
    else if (days < 0) {
    document.getElementById("date_tip").innerHTML = "请输入合法日期！";
    deposit = 0;
    // document.getElementById("deposit").innerHTML = deposit;
    }
    else if (days == 0) {
    deposit = 0;
    document.getElementById("date_tip").innerHTML = "请输入不同日期！";
    // document.getElementById("deposit").innerHTML = deposit;
    }
    document.getElementById("deposit").innerHTML = deposit;
    // else {
    //        deposit = 0;
    //        }
    // if(deposit==0){
    //     document.getElementById("deposit").innerHTML = deposit + "<br/>" + "(请至少预订一间房！)";
    // }

    /*剩余房数赋值*/
    //- document.getElementById("kucun_TTB").innerHTML = "(剩余:" + kucun_TTB.value + ")";
    //- document.getElementById("kucun_TTD").innerHTML = "(剩余:" + kucun_TTD.value + ")";
    //- document.getElementById("kucun_NSB").innerHTML = "(剩余:" + kucun_NSB.value + ")";
    //- document.getElementById("kucun_NSD").innerHTML = "(剩余:" + kucun_NSD.value + ")";
    //- document.getElementById("kucun_BHB").innerHTML = "(剩余:" + kucun_BHB.value + ")";

    // document.getElementById("check_name").innerHTML = document.getElementById("name").value ;
    // document.getElementById("check_phone").innerHTML = document.getElementById("phonenum").value ;
    // document.getElementById("check_email").innerHTML = document.getElementById("email").value ;
    status = setTimeout('getdate()', 10);
    }
    function check() {
    var name = document.getElementById("name").value;
    var phonenum = document.getElementById("phonenum").value;
    var email = document.getElementById("email").value;
    if (name == null || name == "") {
    // alert("请输入姓名!");
    document.getElementById("check_tip").innerHTML = "请输入姓名！";
    return false;
    }
    if (phonenum == null || phonenum == "") {
    // alert("请输入手机号码!");
    document.getElementById("check_tip").innerHTML = "请输入手机号码！";
    return false;
    }
    if (email == null || email == "") {
    // alert("请输入邮箱!");
    document.getElementById("check_tip").innerHTML = "请输入邮箱！";
    return false;
    }
    if (days == 0) {
    document.getElementById("check_tip").innerHTML = "请输入不同日期！";
    return false;
    }
    if (days < 0) {
    document.getElementById("check_tip").innerHTML = "请输入合法日期！";
    return false;
    }
    if (deposit == 0) {
    document.getElementById("check_tip").innerHTML = "请至少预订一间房！";
    return false;
    }
    if ((name != null || name != "") && (phonenum != null || phonenum != "") && (email != null || email != "")) {
    if (days == 0) {
    document.getElementById("check_tip").innerHTML = "请输入不同日期！";
    return false;
    }
    if (days < 0) {
    document.getElementById("check_tip").innerHTML = "请输入合法日期！";
    return false;
    }
    if (rNum == 0) {
    document.getElementById("check_tip").innerHTML = "请至少预订一间房！";
    return false;
    }
    if (days > 0 && deposit != 0) {
    alert("预订成功!");
    // document.getElementById("check_tip").innerHTML = "预订成功！";
    //window.location.href = 'http://127.0.0.1:8081/register_form';   // 如果是在这里进行url访问，则似乎不会上传任何值进入后台
    return true;
    }
    }
    // else {
    //     alert("预订失败!");
    //     return false;
    // }
    }
    /*听涛2号标间房数按钮*/
    num_jia_TTB.onclick = function () {
    input_num_TTB.value = parseInt(input_num_TTB.value) + 1;
    if (input_num_TTB.value >= kucun_TTB.value) {
    input_num_TTB.value = kucun_TTB.value;
    }
    }
    num_jian_TTB.onclick = function () {
    if (input_num_TTB.value <= 0) {
    input_num_TTB.value = 0;
    } else {
    input_num_TTB.value = parseInt(input_num_TTB.value) - 1;
    }
    }
    /*听涛2号单间房数按钮*/
    num_jia_TTD.onclick = function () {
    input_num_TTD.value = parseInt(input_num_TTD.value) + 1;
    if (input_num_TTD.value >= kucun_TTD,value) {
    input_num_TTD.value = kucun_TTD.value;
    }
    }
    num_jian_TTD.onclick = function () {
    if (input_num_TTD.value <= 0) {
    input_num_TTD.value = 0;
    } else {
    input_num_TTD.value = parseInt(input_num_TTD.value) - 1;
    }
    }
    /*南山乙所标间房数按钮*/
    num_jia_NSB.onclick = function () {
    input_num_NSB.value = parseInt(input_num_NSB.value) + 1;
    if (input_num_NSB.value >= kucun_NSB.value) {
    input_num_NSB.value = kucun_NSB.value;
    }
    }
    num_jian_NSB.onclick = function () {
    if (input_num_NSB.value <= 0) {
    input_num_NSB.value = 0;
    } else {
    input_num_NSB.value = parseInt(input_num_NSB.value) - 1;
    }
    }
    /*南山乙所单间房数按钮*/
    num_jia_NSD.onclick = function () {
    input_num_NSD.value = parseInt(input_num_NSD.value) + 1;
    if (input_num_NSD.value >= kucun_NSD.value) {
    input_num_NSD.value = kucun_NSD.value;
    }
    }
    num_jian_NSD.onclick = function () {
    if (input_num_NSD.value <= 0) {
    input_num_NSD.value = 0;
    } else {
    input_num_NSD.value = parseInt(input_num_NSD.value) - 1;
    }
    }
    /*百花2号标间房数按钮*/
    num_jia_BHB.onclick = function () {
    input_num_BHB.value = parseInt(input_num_BHB.value) + 1;
    if (input_num_BHB.value >= kucun_BHB.value) {
    input_num_BHB.value = kucun_BHB.value;
    }
    }
    num_jian_BHB.onclick = function () {
    if (input_num_BHB.value <= 0) {
    input_num_BHB.value = 0;
    } else {
    input_num_BHB.value = parseInt(input_num_BHB.value) - 1;
    }
    }
    /* 如果在和后台做数据交互时，出现点击加减按钮的值无法传到后台的情况，可以用下面这种方式
    $("body").on("click", ".num-jian", function(m) {
    var obj = $(this).closest("ul").find(".input-num");
    if(obj.val() <= 0) {
    obj.val(0);
    } else {
    obj.val(parseInt(obj.val()) - 1);
    }
    obj.change();
    });
    $("body").on("click", ".num-jia", function(m) {
    var obj = $(this).closest("ul").find(".input-num");
    obj.val(parseInt(obj.val()) + 1);
    obj.change();
    });*/
